.category {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category_h2 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #000000;
  margin-bottom: 48px;
  text-decoration: none;
}

.category_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_img {
  margin-bottom: 16px;
}

.ctegory_paragraph {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.cars_category_card {
  text-decoration: none;
margin-top: 50px;
}

.cars_category_card + .cars_category_card {
  margin-left: 90px;
}