.sidebar {
  padding-top: 158px;
  padding-left: 38px;
  background-color: #fff;
  height: 100vh;
}
.sidebar_list {
  list-style-type: none;
}
.sidebar_item {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.sidebar_img {
  margin-right: 13px;
}
.sidebar_p {
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 24px;
letter-spacing: -0.01em;
color: #6F767E;
margin-bottom: 0;
}