.admin_header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
}
.admin_header_btn {
  background: #2A85FF;
border-radius: 12px;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;
letter-spacing: -0.01em;
color: #FCFCFC;
padding: 12px 18px;
text-decoration: none;
}
.admin_header_icon {
  margin-right: 10px;
}
.admin_header_span {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 65%;
}
.admin_header_img + .admin_header_img {
  margin-left: 36px;
}